<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Пожалуйста, нажмите на ссылку ниже, чтобы подвердить email-адрес <b><%=email%></b></p>
        <a href="<%-link%>">Подтвердить email</a>
    </body>
</html>