<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Привет <%=username%>,</p>
        <p>Вы просили сбросить ваш пароль.</p>
        <p>Пожалуйста, нажмите на ссылку ниже, чтобы сбросить ваш пароль</p>
        <a href="<%-link%>">Сбросить пароль</a>
    </body>
</html>